<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Nada encontrado</title>

  <style>
    * {
      margin: 0;
      padding: 0;
    }
    body {
      color: #191622;
      background: #E1E1E6;
      height: 100vh;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      font-family: sans-serif;
    }
    p {
      margin-top: 20px;
      color: #999;
    }
    h1 {
      font-size: 2em;
    }
    footer {
      padding: 5px;
      position: fixed;
      bottom:0;
    
      font-size: 0.8em;
    }
  </style>
</head>
<body>
  <h1>Oops... caminho não encontrado</h1>
  <p>Parece que você não deveria estar aqui, tente outro caminho.</p>

</body>

<footer>
  <div  id="copyright">
    &copy;
    2022 -
    <span>
        <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script>
    </span>
    Audo - Todos os direitos reservados
</div>
</footer>
</html>